body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

html,
* {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a,
.nav-button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
}

.nav-button {
  background-color: #ffffff;
  border-radius: 25px;
  color: #000;
  padding: 15px 30px;
  border: 2px solid #000;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5rem;
  background-color: #ffffff;
}

.hero-left,
.hero-right {
  flex: 1;
  padding: 3rem;
}

.hero-left h1 {
  margin: 0;
  font-size: 30pt;
}

.hero-right p {
  margin: 0.5rem 0;
  font-size: 14px;
}

.hero-right a {
  text-decoration: none;
  border: none;
  border-bottom: 2px solid rgb(0, 105, 255);
  padding-bottom: 2px;
  color: rgb(0, 105, 255);
  font-weight: bolder;
}

.partners {
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
}

.slideshow-container {
  position: relative;
  max-width: 100px;
  margin: auto;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.competence {
  display: flex;
  justify-content: space-between;
  padding: 7rem;
  background-color: #ffffff;
}

.competence-container {
  display: flex;
  width: 100%;
}

.competence-left,
.competence-right {
  flex: 1;
  padding: 1rem;
}

.competence-left h1,.competence-left h2 {
  font-size: 25pt;
  color: rgb(0, 105, 255);
  font-weight: bolder;
}

.competence-left {
  border-right: 3px solid #eee;
}

.competence-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.competence-box {
  background-color: #fff;
  padding: 1rem;
}

.work-together {
  padding: 0;
  background-color: #ffffff;
}

.work-together h1 {
  text-align: center;
  font-size: 30pt;
}

footer {
  background-color: #ffffff;
  color: #000000;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 25%;
  padding: 0 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #b6b6b6;
}

@media (max-width: 768px) {
  .footer-section {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .footer-section {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    padding: 1rem 0;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
  }

  .nav-links li {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
  }

  .hamburger {
    display: flex;
  }
}

/* Contact Us code*/
.contact-box {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 0px;
}

.contact-right {
  flex: 1;
  padding: 60px 40px 60px 20px;
  background-color: #246bfd;
  color: #fff;
}

.contact-left {
  flex: 1;
  padding: 40px;
  background: #246bfd;
  color: #ffffff;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: -70px;
  margin-right: 70px; /* Add this line to move elements further left */
}
  .input-row .input-group {
    flex-basis: 48%; /* Slightly reduce to prevent wrapping */
  }

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  background: #246bfd;
}

/* Change cursor color to white */
.contact-right .input-row input {
  color: #ffffff;
  caret-color: #ffffff;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

label {
  margin-bottom: 6px;
  display: block;
  color: #ffffff;
  background: #246bfd
}

#send {
  background: #ffffff;
  width: 150px;
  outline: none;
  border: none;
  color: black;
  height: 40px;
  border-radius: 30px;
  margin-top: 0px;
  margin-left: -75px;
  box-shadow: 0px 5px 15px 0px #d1c9c94d;
}

.contact-left h3 {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 55px;
}

.contact-left p {
  margin-left: 55px;
}

.contact-left .input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-row .input-group-phone{
  flex-basis: 100%;
  margin-bottom: 20px;
}

.contact-left input,
.contact-left textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  color: #ffffff;
  caret-color: #ffffff;
}

.contact-left textarea {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.contact-left #send {
  background: #ffffff;
  width: 150px;
  color: black;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px #d1c9c94d;
}

/*About Us Code*/

.aboutUsTitle h1{
  font-size: 15pt;
  color: #246bfd;
  font-weight: bolder;
  padding: 40px 60px;
  margin: 50px 40px;
  margin-top: 50px;
  margin-bottom: -70px;
}

.aboutUsTitle p{
  font-size: 15pt;
  font-weight: bolder;
  padding-left: 60px;
  font-size: 24pt;
  margin: 50px 40px;
}

.aboutUsTitle p1{
  color: grey;
  font-size: 24pt;
}

.aboutUsSmallTitle {
  flex: 1;
  margin-left: -20px;
} 

.aboutUsSmallTitle h2{
  font-weight: bolder;
  padding-left: 40px;
  margin-left: 10px;
  font-size: 14pt;
  font-weight: 800;
  margin-top: 30px;
  color: #246bfd;
}

.about-us-container table{
  width: 50%;
  border-spacing: 90px 0px;
  margin-top: 0px;
  flex: 1;
  margin-left: -50%;
}

.about-us-container {
  display: flex;
  align-items: flex-start;
  padding: 50px ;
  padding-right: 0px;
  background: black;
  margin: 7% 7%;
}

.about-us-container table td {
  padding: 5px 10px;
  vertical-align: top;
}

.about-us-container p {
  margin-bottom: 40px;
  color: grey;
}

.about-us-container h3{
  border-top: #246bfd solid 2px;
  padding: 40px 0px 0px;
  margin-top: 0;
}

table h3{
  font-size: 14pt;
  font-weight: 800;
  color: #fff;
}

